<div id="demo" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://tse2.mm.bing.net/th?id=OIP.ATJo1vFKLRzwhLIkqNh7jwHaEK&pid=Api&P=0&w=324&h=183" alt="MacBook">
              <div class="carousel-caption">
                <h3>MacBook</h3>
                <p>We had such a great time in my life!</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="https://tse4.mm.bing.net/th?id=OIP.VjPMP_zF913JbJFsW4oPqgHaEK&pid=Api&P=0&w=333&h=188" alt="Apple Lap">
              <div class="carousel-caption">
                <h3>Apple Lap</h3>
                <p>Thank you, apple service!</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="https://tse4.mm.bing.net/th?id=OIP.hPyKvXSuowIpQDga3tUCFgHaEy&pid=Api&P=0&w=242&h=157" alt="Apple">
              <div class="carousel-caption">
                <h3>Apple</h3>
                <p>We love the Apple!</p>
              </div>   
            </div>
          </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        
